#Core: Project 2 

-Alicia Lizarraga

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
#imports
import pandas as pd
import numpy as np

## First choice: dataset 1

1) Source: https://www.kaggle.com/mhdzahier/travel-insurance/version/1

2) Description: Based off a third-party travel insurance company that is based in Singapore with information detailing about the insurances people use

3) Target: Claim Status, but whether or not a person uses travel insurance

4) Classification problem

5) # of features: 11

6) Rows: 63326

7) Challenges: Possibly changing all the nominal and ordinal items, and dropping any uneeded rows

In [8]:
filename = '/content/travel insurance.csv.zip'
df_travel = pd.read_csv(filename)
df_travel.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Gender,Age
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,65,AUSTRALIA,-49.5,29.70,NaN,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,60,AUSTRALIA,-39.6,23.76,NaN,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,79,ITALY,-19.8,11.88,NaN,41

In [13]:
df_travel.shape

(63326, 11)

## Second choice: dataset2

1) Source: https://www.kaggle.com/bricevergnou/spotify-recommendation

2) Description: Data is about specific songs and their certain qualities

3) Target: The song is liked or not

4) Classification problem

5) # of features: 14

6) Rows: 195

7) Challenges: Need more data but really like what I could find with tcertain columns what affects the likeness

In [14]:
filename_1 = '/content/data.csv'
df_music = pd.read_csv(filename_1)
df_music.head()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,liked
0,0.803,0.6240,7,-6.764,0,0.0477,0.451,0.000734,0.1000,0.6280,95.968,304524,4,0
1,0.762,0.7030,10,-7.951,0,0.3060,0.206,0.000000,0.0912,0.5190,151.329,247178,4,1
2,0.261,0.0149,1,-27.528,1,0.0419,0.992,0.897000,0.1020,0.0382,75.296,286987,4,0
3,0.722,0.7360,3,-6.994,0,0.0585,0.431,0.000001,0.1230,0.5820,89.860,208920,4,1
4,0.787,0.5720,1,-7.516,1,0.2220,0.145,0.000000,0.0753,0.6470,155.117,179413,4,1

In [15]:
df_music.shape

(195, 14)